# If this is set, 'root' will not be able to ssh in and they
# will get a message to login instead as the above $user (ubuntu)
disable_root: false

# This will cause the set+update hostname module to not operate (if true)
preserve_hostname: false
apt_preserve_sources_list: true

# Better let managing of /etc/hosts on salt and others
# manage_etc_hosts: localhost

# The modules that run in the 'init' stage
cloud_init_modules:
 - migrator
 - seed_random
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - ca-certs
 - rsyslog
 - users-groups
 - ssh

# The modules that run in the 'config' stage
cloud_config_modules:
# Emit the cloud config ready event
# this can be used by upstart jobs for 'start on cloud-config'.
 - emit_upstart
 - disk_setup
 - mounts
 - ssh-import-id
 - locale
 - set-passwords
 - grub-dpkg
 - apt-pipelining
 - apt-configure
 - package-update-upgrade-install
 - landscape
 - timezone
 - puppet
 - chef
 - salt-minion
 - mcollective
 - disable-ec2-metadata
 - runcmd
 - byobu

# The modules that run in the 'final' stage
cloud_final_modules:
 - rightscale_userdata
 - scripts-vendor
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
 - power-state-change

datasource_list: [ NoCloud, ConfigDrive, Ec2, OpenStack, OVF, MAAS, None ]
datasource:
    Ec2:
      timeout: 5 # (defaults to 50 seconds)
      max_wait: 10 # (defaults to 120 seconds)
    OpenStack:
      timeout: 5 # (defaults to 50 seconds)
      max_wait: 10 # (defaults to 120 seconds)
    MAAS:
      timeout: 5 # (defaults to 50 seconds)
      max_wait: 10 # (defaults to 120 seconds)

runcmd:
  - sed -i'.orig' -e's/PermitRootLogin.*/PermitRootLogin yes/g' -e's/PasswordAuthentication.*/PasswordAuthentication yes/g' /etc/ssh/sshd_config
  - service sshd restart
# speed up resolving, and not stuck on timeouts. One-shot changes
#  - echo 'options timeout:1 attempts:4' >> /etc/resolv.conf
#  - echo 'nameserver 172.18.208.44' >> /etc/resolvconf/resolv.conf.d/base
#  - resolvconf -u
  - salt-call saltutil.sync_all
  - salt-call state.sls docker.swarm
  - sleep 20
  - salt-call state.sls nginx
  - sleep 25
  - salt-call state.sls docker.client
  - sleep 60
  - salt-call state.sls openldap
  - sleep 5
  - salt-call state.sls gerrit
  - sleep 25
  - salt-call state.sls gerrit
  - sleep 25
  - salt-call state.sls jenkins

